body {
    margin: 0;
}
.title-box {
    text-align: center;
}
.gallery {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}
.item {
    width: 30%;
    margin: 0 1.5% 3%;
    display: inline-block;
    position: relative;
    padding: 30% 0 0;
    height: 0;
    overflow: hidden;
    background-color: grey;
}
.item img {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
}
.gallery .item .info {
    display: none;
}
.item .chip-box {
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 25px;
    padding: 0 5px;
    box-sizing: border-box;
}
.item .chip-box a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 0px 0px black,
                -1px 0px 0px black,
                 0px 1px 0px black,
                 0px -1px 0px black;
}

@media (min-width: 3000px){
    .instagram-grid{
        margin: 0 auto;
    }
}

